<style>
  br {
    display: none;
  }

  #footer {
    width: 100%;
    padding: 0;
  }

  #footer .icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #footer .icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-menu);
    border-radius: var(--box-radius);
    padding: 10px;
    box-shadow: var(--box-shadow);
    margin: 0;
  }

  #footer my-icon {
    width: 2.7rem;
    height: 2.7rem;
  }

  .return {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
    align-items: center;
    position: relative;
  }

  .return a {
    display: none;
    justify-content: center;
    align-items: center;
    /* background-color: var(--bg-menu); */
    background-color: var(--hover);
    border-radius: var(--box-radius);
    padding: 10px;
    box-shadow: var(--box-shadow);
    position: fixed;
    right: 20%;
    bottom: 10%;
  }

  .return a.active {
    display: flex;
  }

  #footer .return i {
    width: 100%;
    display: block;
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  img[data-image='logo'] {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 5px;
  }

  #footer a[data-tooltip] {
    --tooltip-offset: -35px;
  }

  @media (hover: hover) and (pointer: fine) {
    #footer a:hover my-icon {
      transform: scale(1.08);
      color: var(--hover);
    }

    #footer a:hover {
      transform: scale(1.08);
    }

    #footer .return a:hover {
      background-color: var(--font-color);
    }
  }

  @media (max-width: 500px) {
    #footer .icons {
      grid-template-columns: repeat(4, 1fr);
      gap: 30px 0px;
    }

    br {
      display: block;
    }

    .return {
      justify-content: center;
      gap: 15px;
    }

    a[data-tooltip='Saber mais'] {
      width: 80%;
    }
  }
</style>

<section id="footer">
  <div class="icons">
    <a href="/#" data-tooltip="Facebook"
      ><my-icon data-icon="facebook"></my-icon
    ></a>
    <a href="/#" data-tooltip="Instagram"
      ><my-icon data-icon="instagram"></my-icon
    ></a>
    <a href="/#" data-tooltip="WhatsApp"
      ><my-icon data-icon="whatsapp"></my-icon
    ></a>
    <a href="/#" data-tooltip="LinkedIn"
      ><my-icon data-icon="linkedin"></my-icon
    ></a>
    <a href="/#" data-tooltip="GitHub"
      ><my-icon data-icon="github"></my-icon
    ></a>
    <a href="/#" data-tooltip="Email"
      ><my-icon data-icon="email"></my-icon
    ></a>
  </div>

  <div class="return">
    <i
      >© 2022 Lucas Bucalon <br />- Todos os direitos
      reservados.</i
    >
    <a href="#header" move data-tooltip="Subir"
      ><my-icon
        data-icon="header"
        class="icon_footer"
      ></my-icon
    ></a>
  </div>
</section>

<script>
  const header = document.querySelector('#header')
  const returnButton = document.querySelector('.return a')

  if (header && returnButton) {
    const observer = new IntersectionObserver(([entry]) => {
      returnButton.classList.toggle(
        'active',
        !entry.isIntersecting
      )
    })

    observer.observe(header)
  }
</script>
