<style>
  .profile {
    display: flex;
    flex-direction: column;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img[data-image='foto'] {
    position: relative;
    width: 380px;
  }

  .name {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    margin: 20px 0;

    strong {
      font-size: 1.8rem;
    }
  }
</style>

<html>
  <section class="profile">
    <div class="image">
      <img
        data-image="foto"
        alt="Foto do perfil"
        loading="eager"
        fetchpriority="high"
        decoding="auto"
      />
    </div>

    <div class="name">
      <h1>João Lucas Bucalon</h1>
      <strong>@jlucasbucalon</strong>
    </div>
  </section>
</html>
